a:link {
    color: #5093cb;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #5093cb;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #5093cb;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #5093cb;
    background-color: transparent;
    text-decoration: underline;
}
